<html>
    <head>
       <title>about</title> 
    </head>
    <body>
        <h1> About Shopping</h1>
        <h3><p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or
             services from a seller over the Internet using a web browser or a mobile app. Consumers find a product of interest
             by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search
             engine, which displays the same product's availability and pricing at different e-retailers. As of 2020, customers 
             can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computer 
              and smartphones.</p></h3>

    <style>
         h1 {
        font-size: 36px;
        color: #fff;
        text-align: center;
        background-color: black;
        padding: 180px;
        }


         h3 {
         font-size: 18px;
         color:black;
         background-color:#fff;
         }


         p {
         font-size: 16px;
         line-height: 1.5;
         color: black;
         }
    </style>

    

    </body>
</html>
